/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-folder-02-sp-02-01 {
  background-image: url(../img/sprites/folder-02.png);
  background-position: 0px 0px;
  width: 13px;
  height: 13px;
}
.icon-folder-02-sp-02-02 {
  background-image: url(../img/sprites/folder-02.png);
  background-position: -17px 0px;
  width: 11px;
  height: 11px;
}
.icon-folder-02-sp-02-03 {
  background-image: url(../img/sprites/folder-02.png);
  background-position: 0px -17px;
  width: 9px;
  height: 9px;
}
