<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<!-- 모바일 대응 시 
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
	// 모바일 대응 시 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="all">
	<title>Main : Main : UIT Gulp Project</title>
	
	<!-- SEO meta tag / 미사용시 삭제 -->
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="date" content="">
	<meta name="sitecode" content="">
	<!-- // SEO meta tag -->

	<!-- twitter card / 미사용시 삭제 -->
	<meta name="twitter:card" content="">
	<meta name="twitter:site" content="">
	<meta name="twitter:creator" content="">
	<meta name="twitter:url" content="">
	<meta name="twitter:title" content="">
	<meta name="twitter:description" content="">
	<meta name="twitter:image" content="">
	<!-- // twitter card -->

	<!-- Open Graph / 미사용시 삭제 -->
	<meta property="og:url" content="">
	<meta property="og:image" content="">
	<meta property="og:type" content="">
	<meta property="og:site_name" content="">
	<meta property="og:locale" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:country-name" content="" >
	<!-- // Open Graph 제공 -->

	<!-- Structured data / 미사용시 삭제 -->
	<meta itemprop="name" content="">
	<meta itemprop="image" content="">
	<meta itemprop="url" content="">
	<meta itemprop="description" content="">
	<meta itemprop="keywords" content="">
	<!-- // Structured data -->

	<!-- Icon & Favicon -->
	<link rel="shortcut icon" href="/img/icon/favicon.ico">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/icon/favicon-16x16.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/icon/favicon-32x32.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/icon/favicon-180x180.png">
	<!-- // Icon & Favicon -->

	<!-- <link rel="stylesheet" href="/css/styles.min.css"> -->
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/libs.min.css">
	
</head>
<body>
<!-- [D] 전페이지 공통 건너띄기 링크 제공 -->
<ul class="skip">
<li><a href="#header" onclick="document.getElementById('header').tabIndex=-1;document.getElementById('header').focus();return false;">주 메뉴 바로가기</a></li>
<li><a href="#content" onclick="document.getElementById('content').tabIndex=-1;document.getElementById('content').focus();return false">본문 바로가기</a></li>
</ul>
<!-- //[D] 전페이지 공통 건너띄기 링크 제공 -->

	<div class="wrap">
		<!--[D] HEADER -->
        <header>
            <!-- [D] global navigation bar -->
            <nav id="gnb"></nav>
            <!-- //[D] global navigation bar -->
            Header Contents
        </header> 
		<!--//[D] HEADER -->

		<!-- [D] CONTENTS -->
		<main id="content">
			Main Contents
		</main>
		<!-- // [D] CONTENTS -->

		<!--[D] FOOTER -->
        <footer id="footer">
            Footer Contents
        </footer> 
		<!--// [D] FOOTER -->
	</div>

	<!-- [D] LAYER -->
	<div class="layer"></div>
	<!-- [D] LAYER -->

	<!-- Javascript -->
	<script src="/js/libs/vendor.min.js"></script>
	<script src="/js/project-name.min.js"></script>
	<!-- // Javascript -->
</body>
</html>